<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
  body {
    background: #222;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    padding: 0 6px;
    margin: 0;
  }
  h1 {
    color: #888;
    font-size: 16px;
    font-weight: normal;
    margin-top: 24px;
  }
  #rgb {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  button {
    background: #fffb;
    color: #222;
    border-radius: 4px;
    padding: 0.4em 1em;
    border: none;
    margin: 16px 0 24px;
  }
  .choices {
    width: 100%;
    flex: 1;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    div {
      border-radius: 3px;
      box-shadow: 0 0 0 1px #fff1;
      &:nth-child(1) {
        background: red;
      }
      &:nth-child(2) {
        background: orange;
      }
      &:nth-child(3) {
        background: yellow;
      }
      &:nth-child(4) {
        background: green;
      }
      &:nth-child(5) {
        background: blue;
      }
      &:nth-child(6) {
        background: purple;
      }
    }
  }
</style>

<h1>Choose the matching color</h1>
<p id="rgb">rgb(255, 0, 0)</p>
<button onclick="newGame()">New game</button>
<div id="choices" class="choices">
  <div onclick="choose(1)"></div>
  <div onclick="choose(2)"></div>
  <div onclick="choose(3)"></div>
  <div onclick="choose(4)"></div>
  <div onclick="choose(5)"></div>
  <div onclick="choose(6)"></div>
</div>  

<script>
  function newGame() {
    for (var i = 0; i < 6; i++) {
      const red = Math.random() * 255 | 0
      const green = Math.random() * 255 | 0
      const blue = Math.random() * 255 | 0
      choices.children[i].style.backgroundColor = `rgb(${red}, ${green}, ${blue})`
    }

    const red = Math.random() * 255 | 0
    const green = Math.random() * 255 | 0
    const blue = Math.random() * 255 | 0
    rgb.innerText = `rgb(${red}, ${green}, ${blue})`
    answerNumber = Math.random() * 6 | 0
    choices.children[answerNumber].style.backgroundColor = `rgb(${red}, ${green}, ${blue})`
  }

  function choose(number) {
    if (number == answerNumber + 1) {
      alert('Correct!')
      newGame()
    } else {
      alert('Incorrect :{')
    }
  }

  newGame()
</script>
